@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: fantasy --default, abyss ;
}
.active{
  @apply
 text-primary
}
.winkey {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
}